name: integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch: {}

jobs:

  # Publish NPM package
  publish:
    name: Publish NPM package
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    permissions:
        # id-token: write permission is required for npm provenance:
        # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
        id-token: write
        # contents: write is required for git push
        contents: write
    steps:

      - uses: actions/checkout@v5
        with:
          # fetch all branches
          fetch-depth: 0

      # Configure git user for later command induced commits
      - uses: fregante/setup-git-user@v2

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      - run: npm ci
      - run: npm run prepare

      - name: publish itowns@latest npm package
        if: ${{ startsWith(github.event.head_commit.message, 'release v' ) }}
        run: npm run publish-latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: publish itowns@next npm package (following a release)
        if: ${{ startsWith(github.event.head_commit.message, 'release v' ) }}
        run: |
          git checkout next
          git reset --hard master
          npm run publish-next
          git add .
          git commit --amend --no-edit
          git push -f
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: publish itowns@next npm package
        if: ${{ !startsWith(github.event.head_commit.message, 'release v' ) }}
        run: |
          git checkout next
          git merge master
          npm run publish-next
          git add .
          git commit --amend --no-edit
          git push
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

